h1{
    text-align: left;
    padding-top: 30px;
    color: white;
    font-family: 'Bitter', serif;
}
hr{
    background: white;
}
.pic-btn{
    background-color: white;
    border: none;
    color: #70a6ff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.pic-fonts{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: white;
}
.fa{
    padding: 10px;
}
.bts{
    text-align: center;
}
.bodyku{
    background: white;
}
.text{
    font-family: 'Patua One', cursive;
    margin: 27px 0px 0px 0px;
    padding: 5px;
}
.logo-circle{
    text-align: center;
    background: white;
    color: #70a6ff;
    border-style: solid;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color: white;
}

/*
This Component For Picfubri and make By Bootstrap -
BS-Component
*/
.col-sm{
    text-align: center;
}
.col-text{
    text-align: center;
}